{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
 
    
</head>
<body class="toggle-bg p-12" style="margin: 0; padding: 0;">
    <header class="container mx-auto mb-12 p-5 flex justify-between items-center max-w-6xl mt-12">
        
        <div>
            <a href="/"><span class="text-xl font-bold">olu'Victor</span></a>
        </div>
        <div class="flex">
            <button id="menu-button" class="p-2 mr-2 menu-btn border rounded hover:bg-gray-700">
                <svg id="menu-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="menu-path" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <button id="toggle-bg-button" class="p-2 border rounded ml-4">
                <i class="fa-solid fa-toggle-on"></i>
            </button>
        </div>
        <nav id="menu" class="hidden-nav">
            <a href="{% url 'index' %}#about" class="hover:text-gray-400">About Me</a>
            <a href="/projectlist" class="hover:text-gray-400">Projects</a>
            <a href="{% url 'index' %}#contact" class="hover:text-gray-400">Contact</a>
        </nav>
    </header>

    <main class="p-4">
        <div class="container mx-auto max-w-6xl min-h-screen">
            <section class="experience flex flex-wrap justify-center items-center mx-auto justify-between max-w-4xl">
                <div class="sm:flex-2 md:flex-3 grid grid-cols-3 sm:grid-cols-3 lg:grid-cols-3 gap-4 max-w-full relative md:max-w-6xl">
                    <div class="box p-2 border flex justify-center items-center">
                        <img src="{% static 'images/oper.png' %}" alt="opera logo" class="max-h-full max-w-full"/>
                    </div>
                    <div class="box p-2 border flex justify-center items-center">
                        <img src="{% static 'images/richbon.png' %}" alt="opera logo" class="max-h-full max-w-full"/>
                    </div>
                    <div class="box p-2 border flex justify-center items-center">
                        <img src="{% static 'images/startsyn.png' %}" alt="opera logo" class="max-h-full max-w-full"/>
                    </div>
                    <div class="box p-2 border flex justify-center items-center">
                        <img src="{% static 'images/saro.png' %}" alt="opera logo" class="max-h-full max-w-full"/>
                    </div>
                    <div class="box p-2 border flex justify-center items-center">
                        <img src="{% static 'images/tabs-logo1.png' %}" alt="opera logo" class="max-h-full max-w-full"/>
                    </div>
                    <div class="box p-2 border flex justify-center items-center">
                        <img src="{% static 'images/opay.png' %}" alt="opera logo" class="max-h-full max-w-full"/>
                    </div>
                </div>
                <div class="ml-8 flex-1 box-2 p-4 mt-4 border">
                    <div class="flex mb-4">
                        <div class="mr-4">
                            <span class="text-green-400 font-bold text-9xl">10</span>
                        </div>
                        <div class="mt-8 font-bold">
                            <p>Years</p>
                            <p>Experience</p>
                            <p>Working</p>
                        </div>
                    </div>
                    <div class="sm:flex-1 ml-4 mt-12 justify-center items-center flex">
                        <div>
                            <p><i class="mr-4 text-4xl fa-solid fa-envelope"></i></p>
                        </div>
                        <div class="break-all">
                            <p>SEND A MAIL NOW</p>
                            <p>olutayoogunlade2022@gmail.com</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Professional Experience Section -->
            <section class="professional-experience mt-24">
                <div class="container mx-auto max-w-4xl">
                    <h2 class="text-3xl font-bold mb-6">Professional Experience</h2>
                    
                    {% for experience in experiences %}
                    <div class="experience-item mb-8">
                        <h3 class="text-2xl font-semibold">{{ experience.job_title }}</h3>
                        <p class="italic">{{ experience.company_name }}</p>
                        <p class="text-gray-400">{{ experience.start_date }} - {% if experience.end_date %}{{ experience.end_date }}{% else %}Present{% endif %}</p>
                        
                        <ul class="list-disc list-inside mt-4">
                            {% for point in experience.get_description_as_list %}
                            <li>{{ point }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    
                </div>
            </section>

            <!-- Education Section -->
            <section class="education mt-24">
                <div class="container mx-auto max-w-4xl border-t border-gray-300">
                    <h2 class="text-3xl pt-8 font-bold mb-6">Education</h2>
                    
                    {% for education in education_list %}
                    <div class="education-item mb-8">
                        <h3 class="text-2xl font-semibold">{{ education.certificate_title }}</h3>
                        <p class="italic">{{ education.school_name }}</p>
                        <p class="text-gray-400">{{ education.start_date }} - {% if education.end_date %}{{ education.end_date }}{% else %}Present{% endif %}</p>
                        <p>{{ education.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>

    <section id="contact" class="contact-section mt-24 w-full">
        <div class="max-w-2xl p-4 md:p-12 mt-12 mx-auto flex flex-col items-center justify-center">
            <div class="contact-title text-3xl mb-8">Get in Touch - {{ message_name }}</div>
            <form action="{% url 'index' %}" method="POST" class="w-full max-w-lg">
                {% csrf_token %}
                <div class="mb-4">
                    <input class="appearance-none bg-transparent border-b border-gray-500 w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-white" name="message-name" type="text" placeholder="Your Name">
                </div>
                <div class="mb-4">
                    <input class="appearance-none bg-transparent border-b border-gray-500 w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-white" name="message-email" type="email" placeholder="Your Email">
                </div>
                <div class="mb-4">
                    <textarea class="appearance-none bg-transparent border-b border-gray-500 w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-white" name="message" placeholder="Talk to me"></textarea>
                </div>
                <div class="flex justify-between mt-8">
                    <div class="mb-4">
                        <button class="bg-transparent text-white border border-white py-2 px-4 hover:bg-white hover:text-black" type="submit">Okay!</button>
                    </div>
                    <div class="flex space-x-4">
                        <a href="https://facebook.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-blue-700 transition duration-300">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white  text-white hover:bg-blue-500 transition duration-300">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://instagram.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-pink-600 transition duration-300">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://linkedin.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-blue-800 transition duration-300">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-gray-900 transition duration-300">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </form>
            {% if message_name %}
                <h2>Thanks {{ message_name}}</h2>
                <p> We received your message</p>
            {% else %}
            {% endif %}
        </div>
        
    </section>

    <script>
        document.getElementById('menu-button').addEventListener('click', function() {
            var menu = document.getElementById('menu');
            var menuIcon = document.getElementById('menu-icon');
            var menuPath = document.getElementById('menu-path');
            var toggleButton = document.getElementById('toggle-bg-button');

            if (menu.classList.contains('hidden-nav')) {
                menu.classList.remove('hidden-nav');
                menu.classList.add('visible-nav');
                toggleButton.style.display = 'none';
                menuPath.setAttribute('d', 'M6 18L18 6M6 6l12 12');
            } else {
                menu.classList.remove('visible-nav');
                menu.classList.add('hidden-nav');
                toggleButton.style.display = 'block';
                menuPath.setAttribute('d', 'M4 6h16M4 12h16m-7 6h7');
            }
        });

        document.getElementById('toggle-bg-button').addEventListener('click', function() {
            var body = document.body;
            var toggleIcon = this.querySelector('i');

            body.classList.toggle('light-mode');

            if (body.classList.contains('light-mode')) {
                toggleIcon.classList.remove('fa-toggle-on');
                toggleIcon.classList.add('fa-toggle-off');
            } else {
                toggleIcon.classList.remove('fa-toggle-off');
                toggleIcon.classList.add('fa-toggle-on');
            }
        });
    </script>
</body>
</html>
