{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio - Home{% endblock title %}</title>
    <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-black text-white p-12" style="margin: 0; padding: 0;">
    <div class="first-page w-full fixed mx-auto min-h-screen">
        <header class="container mx-auto mb-12 mx-auto p-5 flex justify-between items-center max-w-6xl mt-12">
            <div>
                <span class="text-xl font-bold">olu'Victor</span>
            </div>
            <button id="menu-button" class="p-2 border rounded hover:bg-gray-700">
                <svg id="menu-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="menu-path" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <nav id="menu" class="hidden-nav">
                <a href="/#about" class="hover:text-gray-400">About Me</a>
                <a href="/projectlist" class="hover:text-gray-400">Projects</a>
                <a href="/experience" class="hover:text-gray-400">Resume</a>
                <a href="/#contact" class="hover:text-gray-400">Contact</a>
            </nav>
        </header>
    
        <main class="container mx-auto max-w-2xl">
            <section id="intro" class="max-w-full relative md:max-w-3xl">
                <div class="md:ml-12 ml-12 top-94 md:top-66 bg-black absolute z-20">
                    <span class="title text-3xl md:text-6xl font-bold">Olutayo Victor<br>Ogunlade</span>
                </div>
                <div class="relative top-24 partial-border border-r-10 m-4 p-4 md:p-12">
                    <p class="subtitle text-lg m-4 md:m-8">I'm a passionate software engineer with expertise in Python, JavaScript, and Django. I love creating dynamic and responsive web applications. Explore my projects and get to know more about my work and experiences.</p>
                    <!-- SVG for animated border -->
                    <svg class="animated-border">
                        <rect x="0" y="0" width="100%" height="100%" fill="none" stroke="gray" stroke-width="4" stroke-dasharray="400" stroke-dashoffset="400">
                            <animate attributeName="stroke-dashoffset" from="400" to="0" dur="4s" repeatCount="indefinite" />
                        </rect>
                    </svg>
                </div>
            </section>
            <section class="badges mt-24 p-4">
                <div class="badges-container-wrapper">
                    <div class="badges-container">
                        <img src="https://img.shields.io/badge/Hashnode-2962FF?style=for-the-badge&logo=hashnode&logoColor=white" alt="Hashnode Badge">
                        <img src="https://img.shields.io/badge/C-00599C?style=for-the-badge&logo=c&logoColor=white" alt="C Badge">
                        <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5 Badge">
                        <img src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E" alt="JavaScript Badge">
                        <img src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=blue" alt="Python Badge">
                        <img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3 Badge">
                        <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white" alt="Django Badge">
                        <img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white" alt="Flask Badge">
                        <img src="https://img.shields.io/badge/Jinja-000000?style=for-the-badge&logo=jinja&logoColor=white" alt="Jinja Badge">
                        <img src="https://img.shields.io/badge/Node.js-339933?style=for-the-badge&logo=node.js&logoColor=white" alt="Node.js Badge">
                        <img src="https://img.shields.io/badge/Hashnode-2962FF?style=for-the-badge&logo=hashnode&logoColor=white" alt="Hashnode Badge">
                        <img src="https://img.shields.io/badge/C-00599C?style=for-the-badge&logo=c&logoColor=white" alt="C Badge">
                        <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5 Badge">
                        <img src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E" alt="JavaScript Badge">
                        <img src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=blue" alt="Python Badge">
                        <img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3 Badge">
                        <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white" alt="Django Badge">
                        <img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white" alt="Flask Badge">
                        <img src="https://img.shields.io/badge/Jinja-000000?style=for-the-badge&logo=jinja&logoColor=white" alt="Jinja Badge">
                        <img src="https://img.shields.io/badge/Node.js-339933?style=for-the-badge&logo=node.js&logoColor=white" alt="Node.js Badge">
                    </div>
                </div>
            </section>
        </main>
    </div>
    <section id="project" class="contact-section text-black bg-white absolute w-full min-h-screen" style="top: 200vh;">
        <div class="max-w-2xl p-4 md:p-12 mt-12 mx-auto flex flex-col items-center justify-center">
            <div class="title text-3xl mb-8">Selected Projects</div>
            <div class="projects-list">
                {% for project in projects|slice:":2" %}
                <a href="{% url 'project' project.id %}" class="block project flex justify-between p-12 border rounded mb-6 shadow {% cycle 'bg-yellow-50' 'bg-blue-100' 'bg-blue-100' %} hover:bg-blue-200 transition-colors duration-300" data-name="{{ project.title|lower }}" data-tags="{{ project.tags.all|join:', '|lower }}">
                    <div>
                        <h2 class="text-2xl font-bold mb-2">{{ project.title }}</h2>
                        <p>Tags: {{ project.tags.all|join:', ' }}</p>
                    </div>
                    <div>
                        <div>
                        {% if project.logo %}
                            <img src="{{ project.logo.url }}" alt="{{ project.title }} Logo" style="max-width: 100px;">
                        {% endif %}
                    </div>
                    </div>
                </a>
            {% endfor %}
            <a href="/projectlist"><button class="bg-white text-black border border-black py-2 px-8 mt-4 hover:bg-gray-300">SEE MORE</button></a>
            </div>
        </div>

    <section id="about" class="about-section bg-black w-full min-h-screen" style="top: 100vh;">
        <div class="max-w-2xl mt-12 text-white mx-auto flex flex-col items-center justify-center">
            <div class="subtitle p-4 md:p-12">
                <p class="mb-4">Olutayo Victor Ogunlade is a seasoned full stack software engineer and the visionary founder and CEO of Tay & Becca Services. Starting his career as a sales executive and advancing to sales director, Olutayo developed innovative sales strategies and co-authored "What Your Customer Wants to Hear." His expertise extends to technology, where he has created various software products like Flexiwork, Casjobs, and AI Blog Generator, all aimed at enhancing business efficiency and productivity.</p>
                <p class="mb-4">Driven by a passion for technology, Olutayo self-taught himself software engineering and earned a certificate in full stack software engineering from ALX Africa. This unique blend of skills allows him to leverage technology to streamline business operations and boost sales. Olutayo is a firm believer in the transformative power of artificial intelligence, viewing it as a powerful tool for productivity rather than a competitor. His forward-thinking perspective on AI and its role in the future of work is a recurring theme in the many blog articles he has written.</p>
                <p>What sets Olutayo apart is his holistic approach to technology, stemming from his rich background in sales and business management. He trains individuals in business strategies, personal development, and tech skills, making him a sought-after mentor. Balancing his professional endeavors with personal commitments, Olutayo is married and a proud father. His journey from sales to technology, and his innovative use of AI, positions him as a unique leader in the tech industry, driving both business success and technological advancement through Tay & Becca Services.</p>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section relative bg-black w-full min-h-screen">
        <div class="max-w-2xl p-4 md:p-12 mx-auto flex flex-col items-center justify-center">
            <div class="title text-white mt-24 text-3xl mb-8">Get in Touch - {{ message_name }}</div>
            <form action="{% url 'index' %}" method="POST" class="w-full max-w-lg">
                {% csrf_token %}
                <div class="mb-4">
                    <input class="appearance-none bg-transparent border-b border-gray-500 w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-white" name="message-name" type="text" placeholder="Your Name">
                </div>
                <div class="mb-4">
                    <input class="appearance-none bg-transparent border-b border-gray-500 w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-white" name="message-email" type="email" placeholder="Your Email">
                </div>
                <div class="mb-4">
                    <textarea class="appearance-none bg-transparent border-b border-gray-500 w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-white" name="message" placeholder="Talk to me"></textarea>
                </div>
                <div class="flex justify-between mt-8">
                    <div>
                        <button class="bg-transparent text-white border border-white py-2 px-4 hover:bg-white hover:text-black" type="submit">Okay!</button>
                    </div>
                    <div class="flex space-x-2">
                        <a href="https://facebook.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-blue-700 transition duration-300">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white  text-white hover:bg-blue-500 transition duration-300">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://instagram.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-pink-600 transition duration-300">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://linkedin.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-blue-800 transition duration-300">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com" target="_blank" class="flex items-center justify-center w-10 h-10 border border-white text-white hover:bg-gray-900 transition duration-300">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                
            </form>
            {% if message_name %}
                <h2>Thanks {{ message_name}}</h2>
                <p> We received your message</p>
            {% else %}
            {% endif %}
        </div>
    </section>
    
    <script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.5/libs/oversea/index.js"></script>
    <script>
        new CozeWebSDK.WebChatClient({
          config: {
            bot_id: '7391503457557118982',
          },
          componentProps: {
            title: 'Coze',
          },
        });
    </script>
  

    <script>
        document.getElementById('menu-button').addEventListener('click', function() {
            var menu = document.getElementById('menu');
            var menuIcon = document.getElementById('menu-icon');
            var menuPath = document.getElementById('menu-path');

            if (menu.classList.contains('hidden-nav')) {
                menu.classList.remove('hidden-nav');
                menu.classList.add('visible-nav');
                menuPath.setAttribute('d', 'M6 18L18 6M6 6l12 12');
            } else {
                menu.classList.remove('visible-nav');
                menu.classList.add('hidden-nav');
                menuPath.setAttribute('d', 'M4 6h16M4 12h16m-7 6h7');
            }
        });
    </script>
</body>
</html>
